<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加学生</h1>
<form action="" method="post">
    {% csrf_token %}
    <p><input type="text" name="name">姓名</p>
    <p><input type="" name="age">年龄</p>
    <p><input type="radio" name="gender" value="1">男</p>
    <p><input type="radio" name="gender" value="0">女</p>
    <p><select name="classes">
        {% for row in cs_list %}
        <option value="{{ row.id }}">{{ row.title }}</option>
        {% endfor %}
    </select></p>
    <input type="submit" value="提交">

</form>
</body>
</html>