<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        tr td{ border:1px solid #000;text-align: center;}
    </style>
</head>
<body>

<div>
    <table width="300">
        <thead>
            <tr>
                 <th>ID</th> <th>名称</th> <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in class_list %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>