{% extends 'students_manage/host.html' %}
{% block contents %}
<table class="table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th colspan="3">操作</th>
        </tr>
    </thead>

    <tbody>
        {% for stu in stu_list %}
        <tr>
            <td>{{ stu.id }}</td>
            <td>{{ stu.name }}</td>
            <td>{{ stu.age }}</td>
            <td>
            {% if stu.gender %}男
            {% else %} 女
            {% endif %}
            </td>
            <td>{{ stu.classes }}</td>
            <td><a href="del_students.html?nid={{ stu.id }}"><button>删除</button></a></td>
            <td><a href="edit_students.html?nid={{ stu.id }}"> <button>编辑</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div><a href="add_students.html"><button>添加</button></a></div>
{% endblock %}